@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
  text-align: center;
  font-family: Orbitron;
}

body{
  background-color: #35373a;
  color: white;
}

img{
  height: 30%;
  width: 30%;
}
.alert{
  width: 100%;
}
.lightdark{
}

p input{
  width: 1.2em;
  height: 1.2em;
}

h2 .badge{
  font-size: 0.5em;
}

.badge{
  border: solid white 1.5px;
}

.badge-warning{
  color: white;
}

.btn-light{
  font-size: 1.3em;
  border: dotted #6d6f72 1px;
  -webkit-box-shadow: 0px 0px 24px 5px rgba(252,249,252,1);
  -moz-box-shadow: 0px 0px 24px 5px rgba(252,249,252,1);
  box-shadow: 0px 0px 24px 5px rgba(252,249,252,1);

}
